<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soulhaven - Осознанное дыхание</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/coursedyh.css">
</head>
<body>

    <main class="container landing-section">
        <div class="landing-image">
            <img src="../img/health.png" alt="Медитация" />
        </div>
        <div class="landing-content">
            <h1>Добро пожаловать в курс «Осознанное дыхание»!</h1>
            <p class="description">Этот курс поможет вам лучше управлять стрессом, тревожностью и своим состоянием через дыхательные практики</p>
        </div>
    </main>

    <div class="container">
        <p class="readiness-text">Готовы начать? Нажмите кнопку ниже, чтобы приступить к курсу и изменить свою жизнь к лучшему!</p>
        <div class="start-container">
            <a href="#" class="start-btn">Приступить к курсу</a>
        </div>
        <a href="#" class="return-link"><i class="fas fa-arrow-left"></i>Вернуться к курсам</a>
    </div>
</body>
</html>